/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
* CSS
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Robot', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pomodoro-bg{
    background-image: url(./../img/bg_lofi.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
body.rest-mode #pomodoro-bg {
    filter: blur(5px) grayscale(0.5) brightness(0.5);
}

/**
* Pomodoro
*/
#pomodoro {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 55px 25px 25px 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.60); 
}

    /**
    * Timer
    */
    #timer {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
        .circle-timer {
            width: 270px;
            height: 270px;
        }
            .circle-background {
                stroke: white;
                stroke-width: 7;
                fill: none;
            }
            .circle-progress {
                stroke: rgb(255, 88, 88);
                stroke-width: 7;
                stroke-linecap: round;
                stroke-dasharray: 283;
                fill: none;
                transform-origin: 50% 50%;
                transform: rotate(-90deg);
            }
            #timer-time,
            #timer-pause,
            #timer-rest,
            #timer-work {
                fill: rgb(255, 255, 255);
            }
            #timer-time{
                text-anchor: middle;
            }
            #timer-pause,
            #timer-rest,
            #timer-work {
                text-anchor: middle;
                opacity: 0;
            }

    /**
    * Session
    */
    #timer-session {
        border-radius: 50px;
        background: white;
        display: flex;
        color: rgb(70, 70, 70);
        align-items: center;
        text-align: center;
    }
        #timer-session p {
            padding: 12px;
        }
        p#session-label {
            width: 80%;
            text-align: center;
        }
        p#session-completed {
            font-weight: bold;
            color: rgb(70, 70, 70);
            font-size: 20px;
        }

    /**
    * Function
    */    
    #timer-function {
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
        #function-btn {
            width: 100%;
            height: auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 70px;
            margin-bottom: 100px;
        }
        
            #function-btn button {
                background-color: rgb(255, 88, 88);
                border: none;
                cursor: pointer;
                width: 60px;
                height: 60px;
                font-size: 30px;
                color: white;
                border-radius: 100px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            #btn-pause, #btn-start {
                left: 30%;
                transform: translateX(-50%);
            }
            
            #btn-pause {
                z-index: 1;
            }
            
            #btn-start {
                z-index: 2;
            }
            
            #btn-reset {
                right: 20%;
            }
    
        #function-settings {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 70px;
        }
        
            #function-settings button{
                background-color: rgb(255, 88, 88);
                border: none;
                cursor: pointer;
                width: 60px;
                height: 60px;
                font-size: 30px;
                color: white;
                border-radius: 10px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            #btn-settings {
                z-index: 2;
            }

            #btn-close {
                z-index: 1;
            }

        body.timer-running #btn-start,
        body.rest-mode #btn-start {
            opacity: 0;
            visibility: hidden;
        }
        body.timer-paused #btn-start {
            opacity: 1;
            visibility: visible;
        }

        body.timer-paused:not(.rest-mode) #timer-pause,
        body.rest-mode #timer-rest,
        body.rest-mode.timer-paused #timer-pause,
        body:not(.rest-mode) #timer-work {
            opacity: 1;
        }
        body.rest-mode.timer-paused #timer-rest,
        body.timer-paused #timer-work {
            opacity: 0;
        }
